<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="wrapper" th:each="station : ${station}">
    <header class="mainHeader" th:text="${station.getNameOfStation()}">Станция Сургутская</header>

    <div class="mainContent" >
        <div class="leftSide">
            <form>
                <select>
                    <option value="city">Город</option>
                </select>
            </form>
            <p class="state" th:text="'Состояние: ' + ${station.getState().displayValue}"></p>
            <div class="wagons">
                <div class="firstRow">
                    <p>Вагон</p>
                    <p>Пункт назначения</p>
                    <p>Тип груза</p>
                </div>
                <div class="wagonItem" th:each="wagon : ${counter}">
                    <p th:text="${wagon.getIndex()}"></p>
                    <select class="selectWagon">
                        <option th:value="${wagon.getWhere()}" th:text="${wagon.getWhere()}"></option>
                        <option th:each="city : ${cities}" th:if="${not (wagon.getWhere() eq city)}" th:text="${city}" th:value="${city}"></option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
            </div>
        </div>

        <div class="rightSide">
            <img src="../images/Screenshot_2.jpg" alt="Тут должна быть карта">
            <div class="bottomRight" >
                <button>Начать сортировку</button>
                <p th:text="${station.getControl().displayValue}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>