<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" href="/styles/index.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="wrapper" th:each="data : ${data}"> <!-- -->
    <header class="mainHeader">Станция Сургутская</header>
    <div class="mainContent">
        <div class="leftSide">
            <p class="state" th:text="${data.getState}">Состояние: сортировка</p>    <!-- -->
            <div class="wagons">
                <div class="firstRow">
                    <p>Вагон</p>
                    <p>Пункт назначения</p>
                    <p>Тип груза</p>
                </div>

                <div class="wagonItem">
                    <p>1</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                        <input type="checkbox" class="type"/>
                </div>

                <div class="wagonItem">
                    <p>2</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>

                <div class="wagonItem">
                    <p>3</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>

                <div class="wagonItem">
                    <p>4</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>5</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>6</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>7</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>8</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>9</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>10</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>11</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>12</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>13</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>14</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>15</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>16</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>17</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>18</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>19</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
                <div class="wagonItem">
                    <p>20</p>
                    <select class="selectWagon">
                        <option value="Москва">Москва</option>
                        <option value="Нижневартовск">Нижневартовск</option>
                        <option value="Воркута">Воркута</option>
                        <option value="Норильск">Норильск</option>
                    </select>
                    <input type="checkbox" class="type"/>
                </div>
            </div>
        </div>

        <div class="rightSide">
            <img src="../static/images/Screenshot_2.jpg" alt="Тут должна быть карта">
            <div class="bottomRight">
                <button>Начать сортировку</button>
                <p th:text="${data.getControl}">Режим работы: управление с АРМ</p>   <!-- -->
            </div>
        </div>
    </div>
</div>
</body>
</html>